h1,
p {
  font-family: serif;
}

h1 {
  color: rgb(103, 16, 78);
  font-size: 77px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 30px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("gallery/bbiii-Recovered.gif");

  /*https://media1.tenor.com/images/ce68d1ed80bb50f9223d56beb45906f6/tenor.gif?itemid=12645956 */

  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

p {
  font-size: 77px;
  -webkit-text-stroke-width: medium;
  font-family: monospace;
}

#gallery-text {
  color: rgba(19, 56, 11, 0.712);
  text-align: center;
  float: left;
}

#gallery-text-left {
  color: rgb(2, 14, 2);
  float: left;
}

a {
  font-size: 49px;
  text-decoration: none;
  display: flex;
}

a:link {
  color: rgb(128, 188, 140);
}

a:visited {
  /*color: #777; */
  color: rgb(53, 11, 49);
}

a:hover {
  color: rgb(159, 196, 172);
  font-weight: bold;
}
