h1,
img,
p {
  font-family: serif;
}

h1 {
  color: rgb(103, 16, 78);
  font-size: 77px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  word-spacing: 30px;
  -webkit-text-stroke-width: thick;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("https://th.bing.com/th/id/R.fdc66e682ab2b1aa14073149230ee844?rik=zHr%2feeJkHWkRpQ&riu=http%3a%2f%2f25.media.tumblr.com%2ftumblr_m8fhrnlnt81rspdfio1_500.gif&ehk=rCeM39%2fl7ieyfcsWBS%2boHkCkosyuvnCKD%2fEW%2bKslAV4%3d&risl=&pid=ImgRaw&r=0");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-grid img {
  width: 570px; /* Adjust the width as needed */
  height: 570px; /* Adjust the height as needed */
  margin: 10px; /* Adjust the margin between images */
  object-fit: cover; /* Ensure images maintain aspect ratio and cover the specified dimensions */
}

a {
  font-size: 77px;
  text-decoration: overline;
  display: flex;
}

a:link {
  color: rgb(128, 188, 140);
}

a:visited {
  /*color: #777; */
  color: rgb(53, 11, 49);
}


a:hover {
  color: rgb(159, 196, 172);
  font-weight: bold;
}
