h1,
h2,
h3,
p,
li {
  font-family: serif;
  font-size: 50px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("gallery/bbiii-Recovered.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgb(103, 16, 78);
  font-size: 77px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  word-spacing: 30px;
  -webkit-text-stroke-width: medium;
}

h2 {
  font-size: 57px;
  line-height: 0.5;
  color: rgba(31, 87, 69, 0.933);
  text-align: center;
  -webkit-text-stroke-width: medium;
}

h3 {
  font-size: 57px;
  line-height: 0.5;
  color: rgba(23, 74, 57, 0.971);
  text-align: center;
  -webkit-text-stroke-width: medium;
}

.list-container {
  display: flex;
  justify-content: space-around;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin: 5px;
  font-size: 33px;
  text-align: center;
  -webkit-text-stroke-width: medium;
}

h4 {
  font-size: 57px;
  line-height: 0.5;
  color: rgba(23, 74, 57, 0.971);
  text-align: center;
  -webkit-text-stroke-width: medium;
}

.mm {
  display: block;
  margin: 0 auto;
}

img.mix {
  max-width: 30%;
  height: auto;
  margin-left: 207px;
  border-radius: 107px;
}

img.master {
  max-width: 30%;
  height: auto;
  border-radius: 107px;
  margin-left: 200px;
}

a {
  font-size: 49px;
  text-decoration: none;
}

a:hover {
  color: rgba(159, 196, 172, 0);
  font-weight: lighter;
}

a:link {
  color: rgb(128, 188, 140);
  font-size: 107px;
}

a:visited {
  color: rgb(53, 11, 49);
  font-size: 107px;
}

aside {
  background-color: #000000;
  border-top: 7px solid #ffa500;
  border-bottom: 7px solid #a32d70;
}

footer {
  font-size: 54px;
  color: rgba(160, 22, 178, 0.744);
  -webkit-text-stroke-width: medium;
  text-align: center;
}
