p {
  font-family: serif;
  font-size: 63px;
  -webkit-text-stroke-width: medium;
  text-align: center;
  padding-right: 47px;
}

body {
  background-image: url("https://i.pinimg.com/originals/57/44/ef/5744ef7546d3476888de4cbcaaded349.gif");
  background-position: center;
  background-size: 7000px;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(103, 16, 78);
  font-size: 77px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  word-spacing: 30px;
  -webkit-text-stroke-width: medium;
  letter-spacing: -1px;
}

h2 {
  color: rgb(33, 43, 99);
  -webkit-text-stroke-width: medium;
  font-size: 77px;
  letter-spacing: 7px;
  font-style: italic;
  background-color: rgba(201, 89, 165, 0);
  background-blend-mode: luminosity;
  border-radius: 37%;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: -40px;
  display: flex;
  padding: 17px;
  align-items: center;
}

h3 {
  color: rgb(30, 39, 93);
  -webkit-text-stroke-width: medium;
  font-size: 77px;
  letter-spacing: 7px;
  font-style: italic;
  background-color: rgba(201, 89, 165, 0);
  background-blend-mode: luminosity;
  border-radius: 37%;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: -40px;
  display: flex;
  padding: 17px;
  align-items: center;
}

h4 {
  color: rgb(25, 33, 79);
  -webkit-text-stroke-width: medium;
  font-size: 77px;
  letter-spacing: 7px;
  font-style: italic;
  background-color: rgba(201, 89, 165, 0);
  background-blend-mode: luminosity;
  border-radius: 37%;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: -40px;
  display: flex;
  padding: 17px;
  align-items: center;
}

.alex {
  background-color: rgba(156, 172, 50, 0.519);
  border-radius: 3%;
  background-blend-mode: hue;
}

.me {
  background-color: rgba(60, 172, 50, 0.519);
  border-radius: 3%;
  background-blend-mode: hue;
  margin-top: -100px;
}

.frogs {
  background-color: rgba(50, 146, 172, 0.519);
  border-radius: 3%;
  background-blend-mode: hue;
  margin-top: -127px;
}

.audio-container {
  display: inline-block;
  justify-content: space-around;
  align-items: center; /*height: 100px;*/
  /* margin-left: 600px;*/
  padding-left: 400px;
  margin-top: -47px;
}

.audio-containerz {
  display: inline-block;
  justify-content: space-around;
  align-items: center; /*height: 100px;*/
  /* margin-left: 600px;*/
  padding-left: 400px;
  margin-top: -47px;
  margin-bottom: 47px;
}

audio {
  border: 3px solid rgb(128, 0, 102);
  border-radius: 45%;
  width: 333px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 107px;
  text-decoration: none;
  display: flex;
}

a:link {
  color: rgb(128, 188, 140);
}

a:visited {
  /*color: #777; */
  color: rgb(53, 11, 49);
}

a:hover {
  color: rgb(159, 196, 172);
  font-weight: bold;
}
