h1,
h2,
h3,
img,
p {
  font-family: serif;
}

h1 {
  color: rgb(103, 16, 78);
  font-size: 77px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  word-spacing: 30px;
  -webkit-text-stroke-width: thick;
}

h2 {
  color: rgb(33, 43, 99);
  -webkit-text-stroke-width: medium;
  font-size: 47px;
  font-style: italic;
  background-color: rgba(201, 89, 165, 0.545);
  background-blend-mode: luminosity;
  border-radius: 37%;
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
}

h3 {
  color: rgb(30, 39, 93);
  -webkit-text-stroke-width: medium;
  font-size: 47px;
  font-style: italic;
  background-color: rgba(201, 89, 165, 0.545);
  background-blend-mode: luminosity;
  border-radius: 37%;
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
}

h4 {
  color: rgb(25, 33, 79);
  -webkit-text-stroke-width: medium;
  font-size: 47px;
  font-style: italic;
  background-color: rgba(201, 89, 165, 0.61);
  background-blend-mode: luminosity;
  border-radius: 37%;
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
}

.audio-container {
  display: inline-block;
  justify-content: space-around;
  align-items: center; /*height: 100px;*/
  /* margin-left: 600px;*/
  padding-left: 400px;
}

.header {
  padding: 17px;
  display: flex;
  align-items: center;
}

.header img {
  margin-left: 133px;
}

audio {
  border: 3px solid rgb(128, 0, 102);
  border-radius: 45%;
  width: 333px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url("https://i.pinimg.com/originals/57/44/ef/5744ef7546d3476888de4cbcaaded349.gif");
  background-position: center;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 63px;
  -webkit-text-stroke-width: medium;
  text-align: center;
  padding-right: 47px;
}

img {
  border-radius: 23px;
  max-width: 100%;
}

a {
  font-size: 77px;
  text-decoration: overline;
  display: flex;
}

a:link {
  color: rgb(128, 188, 140);
}

a:visited {
  /*color: #777; */
  color: rgb(53, 11, 49);
}

a:hover {
  color: rgb(159, 196, 172);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .audio-container {
    width: 80%; /* Set desired width */
    margin: 0 auto; /* Center the container horizontally */
  }
}
