p {
  font-family: serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("gallery/bbiii-Recovered.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  color: rgb(9, 23, 48);
  font-size: 77px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 50px;
  word-spacing: 50px;
  -webkit-text-stroke-width: medium;
}

nav {
  color: rgb(31, 80, 38);
  font-size: larger;
  word-spacing: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  -webkit-text-stroke-width: medium;
  font-size: 47px;
  background-color: rgba(0, 255, 255, 0.242);
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the container */
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 23%;
}

.text-overlay {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(2, 47, 14);
  font-size: 23px;
  letter-spacing: 3px;
  -webkit-text-stroke-width: thick;
}

.text-overlay h2 {
  margin-bottom: 10px;
}

.text-overlay p {
  margin: 0;
}

#copyright {
  font-size: 17px;
  text-align: center;
}

a:any-link {
  text-decoration: none;
  word-spacing: 3px;
}

a:visited {
  color: rgb(29, 62, 39);
}

a:hover {
  color: rgba(192, 19, 19, 0.652);
  font-size: 44px;
}

a:active {
  background-color: rgb(62, 153, 74);
  font-style: italic;
}

/*smaller screens */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 27px;
    letter-spacing: 5px;
    word-spacing: 7px;
  }

  .image-container {
    display: block;
    width: 100%;
    height: auto;
  }

  .image {
    width: 100%;
    height: auto;
    padding-top: 30px;
  }


}

/*larger screens */
@media screen and (min-width: 1200px) {
  .text-overlay {
    padding: 20px;
  }

  .text-overlay h2 {
    font-size: 40px;
  }

  .text-overlay p {
    font-size: 40px;
  }
}
